
  <%= image_tag("tw-image1.jpg", class: "img_width") %>
  <!-- </div> -->

<div class="os-area">
<div class="row">
  <div class="col-xs-6 col-md-3">
  <%=link_to image_tag("windows3.jpg", class: "img-os-width img-circle"), softwares_path(:OSId => '1')%>
    <!-- <a href="#" class="thumbnail"> -->
      <!-- <img data-src="holder.js/100%x180" alt="..."> -->
    <!-- </a> -->
  </div>
  <div class="col-xs-6 col-md-3"><%= image_tag("mac2.jpg", class: "img-os-width img-circle") %></div>
  <div class="col-xs-6 col-md-3"><%= image_tag("ios.jpg", class: "img-os-width img-circle") %></div>
</div>
</div>
