 /*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*= require_tree .
*/
.wrap{
  word-wrap: break-word;
}

.layout{
  margin-left: 10%;
  border: 2px;
}

.logo{
  width: 59%;
margin-left: 16%;
margin-top: 10%;
}

.form-container{
  background-color: #f8f8f8;
}
